## **Association Rules**

In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth

In [2]:
Borrowings_Table=pd.read_excel("../data/cleaned_borrowings.xlsx")

In [3]:
Borrowings_Table.head()

,Numéro,Cote,Titre,Type de document,N° lecteur,Nom,Prénom,Catégorie,Titre_clean,borrowing duration
0,1000,515 MON,Exercices corrigés d'analyse : 1ère année LMD,Livre,5817912,MAMECHE,FERIEL,1 ére ANNEE,EXERCICES CORRIGES D ANALYSE 1ERE ANNEE LMD,15
1,1005,510.BAL/1,Exercices d'algèbre et d'analyse : 154 exercic...,Livre,5754033,fourali,malak,1 ére ANNEE,EXERCICES D ALGEBRE ET D ANALYSE 154 EXERCICES...,17
2,1006,510.BAL/2,Exercices d'algèbre et d'analyse : 154 exercic...,Livre,5113394,SEHALI,MAYA,1 ére ANNEE,EXERCICES D ALGEBRE ET D ANALYSE 154 EXERCICES...,15
3,1007,510.BAL/3,Exercices d'algèbre et d'analyse : 154 exercic...,Livre,6092419,kheddaoui,thiziri,1 ére ANNEE,EXERCICES D ALGEBRE ET D ANALYSE 154 EXERCICES...,15
4,1009,518.107.BAY/1,Exercices et problèmes d'algorithmique : 144 é...,Livre,8354464,GACEB,RIHAM BAHIA,3 ème ANNEE,EXERCICES ET PROBLEMES D ALGORITHMIQUE 144 ENO...,7

In [4]:
Borrowings_Table.shape

(422, 10)