## **Association Rules**

In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth

In [2]:
Borrowings_Table=pd.read_excel("../data/cleaned_borrowings.xlsx")

In [3]:
Borrowings_Table.head()

,Numéro,Cote,Titre,Type de document,N° lecteur,Nom,Prénom,Catégorie,Titre_clean,borrowing duration
0,1000,515 MON,Exercices corrigés d'analyse : 1ère année LMD,Livre,5817912,MAMECHE,FERIEL,1 ére ANNEE,EXERCICES CORRIGES D ANALYSE 1ERE ANNEE LMD,15
1,1005,510.BAL/1,Exercices d'algèbre et d'analyse : 154 exercic...,Livre,5754033,fourali,malak,1 ére ANNEE,EXERCICES D ALGEBRE ET D ANALYSE 154 EXERCICES...,17
2,1006,510.BAL/2,Exercices d'algèbre et d'analyse : 154 exercic...,Livre,5113394,SEHALI,MAYA,1 ére ANNEE,EXERCICES D ALGEBRE ET D ANALYSE 154 EXERCICES...,15
3,1007,510.BAL/3,Exercices d'algèbre et d'analyse : 154 exercic...,Livre,6092419,kheddaoui,thiziri,1 ére ANNEE,EXERCICES D ALGEBRE ET D ANALYSE 154 EXERCICES...,15
4,1009,518.107.BAY/1,Exercices et problèmes d'algorithmique : 144 é...,Livre,8354464,GACEB,RIHAM BAHIA,3 ème ANNEE,EXERCICES ET PROBLEMES D ALGORITHMIQUE 144 ENO...,7

In [4]:
Borrowings_Table.shape

(422, 10)

In [6]:
Borrowings_transactions = Borrowings_Table.groupby("N° lecteur")["Titre_clean"].apply(list).reset_index()

In [7]:
Borrowings_transactions.head()

  N° lecteur                                        Titre_clean
0          3  [FORMULES DE TAYLOR DEVELOPPEMENTS LIMITES L1 ...
1          4  [MATHEMATICAL LOGIC, LOGIQUE MATHEMATIQUE COUR...
2          8                       [INITIATION L ALGORITHMIQUE]
3         24  [BIG DATA ANALYTICS WITH APPLICATIONS IN INSID...
4         32  [COMPUTER ORGANIZATION AND ARCHITECTURE DESIGN...

In [9]:
print("Number of transactions:", len(Borrowings_transactions))
print("Number of distinct customers:", len(list(set(Borrowings_transactions["N° lecteur"]))))

Number of transactions: 271
Number of distinct customers: 271

In [11]:
transactions = Borrowings_transactions["Titre_clean"].tolist()
transactions[:5]

[['FORMULES DE TAYLOR DEVELOPPEMENTS LIMITES L1 L2 L3 CLASSES PREPARATOIRES'],
 ['MATHEMATICAL LOGIC',
  'LOGIQUE MATHEMATIQUE COURS ET EXERCICES CORRIGES',
  '400 EXERCICES CORRIGES D ALGEBRE AVEC RAPPELS DE COURS POUR SPE MP MP'],
 ['INITIATION L ALGORITHMIQUE'],
 ['BIG DATA ANALYTICS WITH APPLICATIONS IN INSIDER THREAT DETECTION'],
 ['COMPUTER ORGANIZATION AND ARCHITECTURE DESIGNING FOR PERFORMANCE GLOBAL EDITION',
  'CAMBRIDGE ENGLISH SKILLS REAL LISTENING AND SPEAKING 1',
  'CAMBRIDGE ENGLISH SKILLS REAL LISTENING AND SPEAKING 2']]

In [14]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
borrowing_df = pd.DataFrame(te_ary, columns=te.columns_)
borrowing_df

,400 EXERCICES CORRIGES D ALGEBRE AVEC RAPPELS DE COURS POUR SPE MP MP,A FIRST COURSE IN PROBABILITY,ADVANCED CYBERSECURITY TECHNOLOGIES,ADVANCED DATA STRUCTURES THEORY AND APPLICATIONS,AGILE STRATEGY MANAGEMENT TECHNIQUES FOR CONTINUOUS ALIGNMENT AND IMPROVEMENT,ALGEBRE 1 RAPPELS DE COURS ET EXERCICES AVEC SOLUTIONS,ALGEBRE 1RE ANNEE,ALGEBRE 240 EXERCICES CORRIGES AVEC RESUMES DE COURS PREMIERS CYCLES DE L ENSEIGNEMENT SUPERIEUR,ALGEBRE COURS ET EXERCICES AVEC SOLUTIONS,ALGEBRE ET GEOMETRIE 200 EXERCICES DEVELOPPES 980EXERCICES D ENTRAONEMENT RAPPELS DE COURS,...,STATISTIQUE COURS ET EXERCICES POUR LES ETUDIANTS DU TRONC COMMUN BIO MEDICAL,STRUCTURE DES ORDINATEURS AUTOUR DU PROCESSEUR,SUPERINTELLIGENCE PATHS DANGERS STRATEGIES,THE HUNDRED PAGE MACHINE LEARNING BOOK,TOUT LE PROGRAMME DE MATHEMATIQUE EN BCPTI 1 AVEC 1000 EXERCICES ET PROBLEMES,TOUT SUR R ENSEMBLE DES NOMBRES REELS STRUCTURES ALGEBRIQUE ET TOPOLOGIQUE,TOUTES LES MATHEMATIQUES MP 1RE PARTIE LE KIT DE SURVIE 2E PARTIE DES CERISES SUR LE GATEAU,UNDERSTANDING ANALYSIS,WIRELESS MEDICAL SYSTEMS AND ALGORITHMS DESIGN AND APPLICATIONS,مهارات التفكير النقدي لدى طلاب الجامعات العربية
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
267,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
268,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
270,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
frequent_itemsets=fpgrowth(borrowing_df, min_support=0.01)
frequent_itemsets

     support   itemsets
0   0.018450       (90)
1   0.011070       (87)
2   0.011070       (75)
3   0.199262       (68)
4   0.011070       (80)
5   0.014760       (35)
6   0.025830       (69)
7   0.014760       (53)
8   0.066421      (110)
9   0.033210       (96)
10  0.022140       (18)
11  0.022140       (61)
12  0.018450       (59)
13  0.011070       (60)
14  0.018450       (77)
15  0.210332       (47)
16  0.018450        (6)
17  0.014760       (13)
18  0.022140       (54)
19  0.011070       (42)
20  0.011070      (120)
21  0.202952        (5)
22  0.018450       (66)
23  0.014760       (50)
24  0.014760      (119)
25  0.011070       (15)
26  0.033210      (128)
27  0.011070       (64)
28  0.011070       (21)
29  0.040590  (68, 110)
30  0.011070    (96, 5)
31  0.011070   (59, 68)
32  0.059041    (5, 47)
33  0.011070    (66, 5)
34  0.018450   (128, 5)