<a href="https://colab.research.google.com/github/TI1307/DM_Project/blob/main/cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

# Data Preprocessing and cleaning

# 4.1 Data Quality **Issues**

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
########    LIBRARY INVENTORY TABLE      ###############
LIBRARY_INVENTORY= pd.read_excel("/content/drive/MyDrive/Book Recomendation/data/LIBRARY INVENTORY.xlsx")
print ('Number of instance in the LIBRARY INVENTORY' , (LIBRARY_INVENTORY.shape[0]))
print ('Number of attributes in the LIBRARY INVENTORY' , (LIBRARY_INVENTORY.shape[1]))
print(LIBRARY_INVENTORY.head(3))
print ('-'*20)
########  LIBRARY_CARALOGUE TABLE     ###############
LIBRARY_CATALOGUE= pd.read_excel("/content/drive/MyDrive/Book Recomendation/data/library catalogue.xlsx")
print ('Number of instance in the LIBRARY CARALOGUE' , (LIBRARY_CATALOGUE.shape[0]))
print ('Number of attributes in the LIBRARY INVENTORY' , (LIBRARY_CATALOGUE.shape[1]))
print ('-'*20)
#######    BORROWING TABLE             ###########################
BORROWINGS= pd.read_excel("/content/drive/MyDrive/Book Recomendation/data/Borrowings.xlsx")
print ('Number of instance in the BORROWINGS TABLE ' , (BORROWINGS.shape[0]))
print ('Number of attributes in the BORROWINGS TABLE ' , (BORROWINGS.shape[1]))
print(BORROWINGS.head(3))

Mounted at /content/drive

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Book Recomendation/data/LIBRARY INVENTORY.xlsx'

In [ ]:
BORROWINGS.head(10)

,Numéro,Cote,Titre,Type de document,N° lecteur,Nom,Prénom,Catégorie,Date prêt,Date retour,Date réservation
0,1000,515 MON,Exercices corrigés d'analyse : 1ère année LMD,Livre,5817912,MAMECHE,FERIEL,1 ére ANNEE,2024-10-15,2024-10-30,NaT
1,1005,510.BAL/1,Exercices d'algèbre et d'analyse : 154 exercic...,Livre,5754033,fourali,malak,1 ére ANNEE,2024-10-17,2024-11-03,NaT
2,1006,510.BAL/2,Exercices d'algèbre et d'analyse : 154 exercic...,Livre,5113394,SEHALI,MAYA,1 ére ANNEE,2024-10-01,2024-10-16,NaT
3,1007,510.BAL/3,Exercices d'algèbre et d'analyse : 154 exercic...,Livre,6092419,kheddaoui,thiziri,1 ére ANNEE,2024-10-15,2024-10-30,NaT
4,1009,518.107.BAY/1,Exercices et problèmes d'algorithmique : 144 é...,Livre,8354464,GACEB,RIHAM BAHIA,3 ème ANNEE,2023-10-17,2023-10-24,NaT
5,1030,510.76.Mon/2,Mathématiques : méthodes et exercices MP,Livre,6747275,BOUREZG,MOUADH,3 ème ANNEE,2023-10-17,2023-10-24,NaT
6,1048,510.76 GAU,"Mathématiques, EC 1re année : tout-en-un : cou...",Livre,33,ihddadene,lila,Enseignant,2024-06-27,2024-07-13,NaT
7,1063,510.76.OUD/1,Maths PCSI-PTSI,Livre,6243736,gholal,hibat errahmane,1 ére ANNEE,2024-10-21,2024-11-05,NaT
8,1064,510.76.OUD/2,Maths PCSI-PTSI,Livre,5868325,MERAH,MANAR,1 ére ANNEE,2024-10-13,2024-10-28,NaT
9,1065,510.76 ALL/2,Maths PCSI-PTSI : 1re année,Livre,3825689,BENAKMOUM,CHIRAZ,2 éme ANNEE,2023-10-17,2023-10-28,NaT

# **4.1.1 Missing Values**

In [ ]:
# gives a summery of missing values
def missing_values_summary(df):
  missing_count = df.isnull().sum()
  missing_percent = (missing_count/ len(df))*100

  summery = pd.DataFrame({
      'missing_count': missing_count,
      'missing_percent': missing_percent
  })
  summery = summery.sort_values('missing_percent', ascending=False)
  return summery
import pandas as pd

def handle_missing_values(df, strategy_dict):
    """
    Fill missing values in a DataFrame according to a strategy dictionary.

    Parameters:
        df (pd.DataFrame): Input dataframe
        strategy_dict (dict): {column_name: strategy}, where strategy can be:
            - 'mean'   → fill numeric with mean
            - 'median' → fill numeric with median
            - 'mode'   → fill categorical with mode
            - value    → fill with this value directly

    Returns:
        pd.DataFrame: DataFrame with missing values handled
    """
    for col, strategy in strategy_dict.items():
        if strategy == 'mean':
            df[col] = df[col].fillna(df[col].mean())
        elif strategy == 'median':
            df[col] = df[col].fillna(df[col].median())
        elif strategy == 'mode':
            df[col] = df[col].fillna(df[col].mode()[0])
        else:
            # Use the provided value
            df[col] = df[col].fillna(strategy)
    return df

# **4.1.2 Outliers**

# **4.1.3 Duplicate Data**

In [ ]:
def checkDuplicat (df, table_name,  keep=False):
    dup=df.duplicated()
    dup_count=dup.sum()
    print(f'Number of duplicate rows in {table_name} table is = %d' % (dup_count))
    if dup_count > 0:
      print (f'\n Duplicare row in the table {table_name}:')
      dup_rows=df[dup]
      for idx in dup_rows.index:
          print(f'\n row number :{idx}')
          print(df.loc[idx])
          print('-' * 50)

# **4.2 Aggregation**

# **4.3 Sampling**

# **4.4 Discretization**

# **Borowing Table** #

In [ ]:
# Cleaningg the borrowing table
# table name : BORROWINGS

print ('Number of instance in the BORROWINGS TABLE ' , (BORROWINGS.shape[0]))
print ('Number of attributes in the BORROWINGS TABLE ' , (BORROWINGS.shape[1]))

# summery about missing values :
missing_count = BORROWINGS.isnull().sum()
print(missing_count)
missing_percent = (missing_count/ len(BORROWINGS))*100
summery = pd.DataFrame({
      'missing_count': missing_count,
      'missing_percent': missing_percent})
print(summery)

#check duplicate :
checkDuplicat(BORROWINGS , "BORROWINGS TABLE ")

Number of instance in the BORROWINGS TABLE  422
Number of attributes in the BORROWINGS TABLE  11
Numéro                0
Cote                 14
Titre                 0
Type de document      0
N° lecteur            0
Nom                   0
Prénom                0
Catégorie             0
Date prêt             0
Date retour           0
Date réservation    414
dtype: int64
                  missing_count  missing_percent
Numéro                        0         0.000000
Cote                         14         3.317536
Titre                         0         0.000000
Type de document              0         0.000000
N° lecteur                    0         0.000000
Nom                           0         0.000000
Prénom                        0         0.000000
Catégorie                     0         0.000000
Date prêt                     0         0.000000
Date retour                   0         0.000000
Date réservation            414        98.104265
Number of duplicate rows in BORROWINGS TABLE  table is = 0

## **LIBRARY INVENTORY**

In [ ]:
checkDuplicat(LIBRARY_INVENTORY, "LIBRARY_INVENTORY")

Number of duplicate rows in LIBRARY_INVENTORY table is = 0